/* Colors:  
  Blue (button): #0023B9
  Blue (piece border): #00051b
  Blue (board): #000b3b
  Yellow (piece): #FFC300
  Red: #FF0000
  Gray: #777777
*/

/* Tag styles */

body {
  margin: 0;
  background-image: url(../assets/fondo.jpg);
  background-size: 100vw 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  touch-action: manipulation;
}

h3 {
  font-size: 16pt;
  text-align: center;
  margin: 0 0 4vh;
}

/*Containers & sections*/
#timer-container, 
#timer-container--mobile,
#notif-container {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timer-container--mobile {
  height: 12vh;
  width: 50vw;
  margin: 0 0 4vh;
}

#timer-container {
  height: 12vh;
  width: 28vw;
  margin: 0 0 4vh;
}

.btn-container {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin: 0 auto;
}

#pieces-container {
  width: 60vw;
  height: 50vh;
  margin: 0 auto;
}

#options-container--desktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18pt;
  margin: 5vh auto;
}

#options-container--mobile {
  display: none;
}

#board-section {
  display: flex;
  /* justify-content: flex-end; */
  flex-flow: row wrap;
}

/* Objects */

.timer {
  margin: 5vh 0 0;
  font-size: 70pt;
  text-align: center;
  color: #FFC300;
}

/* Recomendación: 
Font a Monserrat o algo suave y bonito

Para instrucciones:
Si es abierto por primera vez, que saque el folleto de 
instrucciones, máximo dos slides

Para animaciones:
buscar animate.css de daneden
*/

.btn-start {
  height: 8vh;
  width: 10vw;
  background-color: #1c49b9;
  color: #FFFFFF;
  border: 2px solid #767a86;
  font-size: 16pt;
  border-radius: 10px;
}

.btn-restart {
  height: 8vh;
  width: 10vw;
  background-color: #1c49b9;
  color: #FFFFFF;
  border: 2px solid #767a86;
  font-size: 16pt;
  border-radius: 10px;
}

.btn-rotate { /*TODO: Remove this, it probably isn't needed*/
  display: none;
  height: 5vh;
  background-color: #FFC300;
  border: 3px solid #0023B9;
  color: #000000;
}

#btn--rotate-mobile {
  display: none;
  margin: 0 auto;
  height: 10vh;
  width: 10vh;
  background-color: #FFC300;
  border: 3px solid #0023B9;
  color: #000000;
  border-radius: 10px;
}

#board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18pt;
  margin: 0 auto;
  width: 52vh; /*This is on purpose*/
  flex-flow: row wrap;
  justify-content: center;
  background-color: #000b3b;
  border: 20px solid #FF0000;
}

.board-slot {
  height: 10vh;
  width: 10vh;
  stroke-width: 3;
  background-color: #0023B9;
  margin: 0 auto;
  padding: 0;
}

/* Game elements */

.piece--hidden {
  display: none;
}

svg.piece {
  height: 6vh;
}

svg.piece--selected {
  height: 10vh;
}

svg.piece--rot0 {
  transform: rotate(0deg);
}

svg.piece--rot1 {
  transform: rotate(270deg);
}

svg.piece--rot2 {
  transform: rotate(180deg);
}

svg.piece--rot3 {
  transform: rotate(90deg);
}

/*SVGs fill*/
svg.piece--unselected path, 
svg.piece--unselected polygon, 
svg.piece--unselected circle, 
svg.piece--unselected rect#rect3926, 
svg.piece--unselected rect#rect3890 {
  stroke: #00051b !important;
  fill: #FFFFFF !important; /*Necesario para que cambie de color*/
}

svg.piece--selected path, 
svg.piece--selected polygon, 
svg.piece--selected circle, 
svg.piece--selected rect#rect3926, 
svg.piece--selected rect#rect3890 {
  stroke: #00051b !important;
  fill: #FFC300 !important; /*Necesario para que cambie de color*/
}

/* Color de los slots en el tablero */
svg.slot--empty path, 
svg.slot--empty polygon, 
svg.slot--empty circle, 
svg.slot--empty rect#rect3926, 
svg.slot--empty rect#rect3890 {
  stroke: #00051b !important;
  fill: #000b3b !important; /*Necesario para que cambie de color*/
}

svg.slot--full path, 
svg.slot--full polygon, 
svg.slot--full circle, 
svg.slot--full rect#rect3926, 
svg.slot--full rect#rect3890 {
  stroke: #00051b !important;
  fill: #FFC300 !important; /*Necesario para que cambie de color*/
}

@media only screen and (max-width : 767px) {
  #board-section {
    flex-flow: column wrap;
  }

  div.piece--available {
    width: 20vw;
  }

  #options-container--desktop {
    display:none;
  }

  #options-container--mobile {
    display: flex;
    justify-content: space-around;
    font-size: 18pt;
    margin: 1vh auto;
  }  
  
  #notif-container {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8pt;
  }

  h3 {
    font-size: 10pt;
    margin: 0.4vh 0;
  }

  .notification {
    font-size: 8pt;
  }

  #timer-container,
  #timer-container--mobile {
    margin: 0;
    height: 8vh;
    width: 33vw;
  }

  #options-container--mobile {
    position: fixed;
    bottom: 0vh;
  }

  .timer {
    margin: 1vh 0 0;
    font-size: 32pt;
  }    
    
  .btn-rotate {
    height: 4vh;
    font-size: 8pt;
    display: none;
  }

  .btn-start, 
  .btn-restart {
    height: 10vh;
    width: 33vw;
  }

  #btn--rotate-mobile {
    width: 33vw;
    display: block;
  }

  #pieces-container {
    justify-content: space-around;
    height: 30vh;
    width: 100vw;
  }
    
  #board {
    margin: 0;
    width: 90vw; /*This is on purpose*/
    flex-flow: row wrap;
    justify-content: center;
    background-color: #000b3b;
    border: 5vw solid #FF0000;
  }

  .board-slot {
    height: 8vh;
    width: 8vh;
    stroke-width: 3;
    background-color: #0023B9;
    margin: 0 auto;
    padding: 0;
  }

  svg.piece {
    height: 4vh;
    width: 20vw;
  }
    
  svg.piece--selected {
    height: 7vh;
  }
}