body {
  font-family: Arial, Helvetica, sans-serif;
}

/*Test suite styles*/
#timerContainer, #notifContainer, #piecesArray {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timerContainer {
  height: 150px;
}

#testTimer {
  font-size: 80pt;
  text-align: center;
}

h3, #testNotif {
  font-size: 28pt;
  text-align: center;
}

h3 {
  margin: 5vh;
}

#board, #testDashboard, #availablePieces {
  display: flex;
  justify-content: space-around;
  font-size: 18pt;
}

#board {
  margin: 0;
  width: 66vw;
  flex-flow: row wrap;
  justify-content: center;
}

#testDashboard {
  margin: 10px auto;
}

.slot--full {
  color: #777777;
  text-decoration: line-through;
}

.board-slot {
  height: 16vh;
  width: 16vh;
  stroke-width: 3;
  background-color: #0023B9;
  margin: 0 auto;
  padding: 0;
}

/* Color de los slots en el tablero */
svg path { 
  stroke: rgb(0, 5, 27) !important;
  fill: rgb(0, 11, 59) !important; /*Necesario para que cambie de color*/
}
/* 
svg {
  fill: blue;
} */