/* Colors:  
  Blue (board): #0023B9
  Yellow (piece): #FFC300
  Red: #FF0000
  Gray: #777777
*/


body {
  font-family: Arial, Helvetica, sans-serif;
}

/*Test suite styles*/
#timerContainer, #notifContainer, #piecesArray {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timerContainer {
  height: 150px;
}

#testTimer {
  font-size: 80pt;
  text-align: center;
  color: #FF0000;
}

h3, #testNotif {
  font-size: 28pt;
  text-align: center;
}

h3 {
  margin: 5vh;
}

#board, #testDashboard, #availablePieces {
  display: flex;
  justify-content: space-around;
  font-size: 18pt;
}

#board-section {
  display: flex;
  justify-content: center;
}

#board {
  margin: 0;
  width: 50vw;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgb(0, 11, 59);
  border: 20px solid #FF0000;
}

#testDashboard {
  margin: 10px auto;
}

.slot--full {
  color: #777777;
  text-decoration: line-through;
}

.board-slot {
  height: 12vh;
  width: 12vh;
  stroke-width: 3;
  background-color: #0023B9;
  margin: 0 auto;
  padding: 0;
}

/* Color de los slots en el tablero */
svg.slot--empty path, svg.slot--empty polygon, svg.slot--empty circle, svg.slot--empty rect#rect3926, svg.slot--empty rect#rect3890 {
  stroke: rgb(0, 5, 27) !important;
  fill: rgb(0, 11, 59) !important; /*Necesario para que cambie de color*/
}

svg.slot--full path, svg.slot--full polygon, svg.slot--full circle, svg.slot--full rect#rect3926, svg.slot--full rect#rect3890 {
  stroke: rgb(0, 5, 27) !important;
  fill: #FFC300 !important; /*Necesario para que cambie de color*/
}
/* 
svg {
  fill: blue;
} */